/*
* @Author: admin
* @Date:   2019-11-28 08:56:32
* @Last Modified by:   admin
* @Last Modified time: 2019-11-28 10:53:13
*/
.tag-en{
	width: 1118px;
	height: 100%;
	overflow: hidden;
	margin: 30px 0;

}
.tag-en li{
	float: left;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	margin: 0 14px 0 0;
	cursor: pointer;
	z-index: 40000;
}
.tag-en li:nth-child(1){
	width: 56px;
}
.tag-en li.active{
	height: 28px;
	border-radius: 14px;
	background-color: #ffe443;
	font-weight: bold;
}
.tag-kind{
	width: 1118px;
	height: 100%;
	overflow: hidden;
	margin: 30px 0;
}
.tag-kind li{
	float: left;
	width: 70px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	margin: 0 14px 0 0;
	cursor: pointer;
}
.tag-kind li:nth-child(1){
	width: 56px;
}
.tag-kind li:nth-child(4),.tag-kind li:nth-child(7),.tag-kind li:nth-child(10){
	width: 100px;
}
.tag-kind li.active{
	height: 28px;
	border-radius: 14px;
	background-color: #ffe443;
	font-weight: bold;
}
.artist-con{
	height: 100%;
	overflow: hidden;
}

.artist-con .artist{
	float: left;
	width: 151px;
	margin-right: 42px;
	margin-top: 40px;
	height: 100%;
}
.artist-con .artist:nth-child(6n){
	float: left;
	width: 151px;
	margin-right: 0px;
}
.artist-con .artist img{
	width: 100%;
	border-radius: 50%;
}
.artist-con .artist .text{
	display: block;
	text-align: center;
	width: 100%;
	font-size: 16px;
	margin: 15px 0 0;
}
.artist-con .artist .num{
	text-align: center;
	width: 100%;
	font-size: 12px;
	margin: 6px 0 0;
	color: #999999;
}
.artist_other{
	height: 100%;
	overflow: hidden;
	margin:0 0 50px;
}
.artist_other .artist_list{
	float: left;
	width: 15%;
	margin-right: 2%;
	margin-top: 50px;
	height: 38px;
}
.artist_other .artist_list img{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	float: left;
}
.artist_other .artist_list>span{
	line-height: 38px;
	padding-left: 50px;
	display: block;
}
.artist_other .artist_list:nth-child(6n){
	margin-right: 0px;
}
.sub_nav2{
	width: 400px;
	margin: 30px auto;
	overflow: hidden;
}
.sub_nav2 ul li,.sub_nav2 ul span{
	width: 42px;
	height: 42px;
	float: left;
	text-align: center;
	line-height: 42px;
	color: #999999;
	font-size: 14px;
	margin-right: 10px;
}
.sub_nav2 ul .a2{
	background-color: #ffe443;
	color: black;
}
.sub_nav2 ul li:hover,.sub_nav2 ul span:hover{
	background-color: #ffe443;
	color: black;
}
.sub_nav2 ul span:nth-child(4){
	background-color: transparent;
	color: black;
}
.sub_nav2 ul span:nth-child(4):hover{
	background-color: transparent;
	color: black;
}
.sub_nav2 ul li:hover.left::after{
	border-right-color: #ffe443;
}
.sub_nav2 ul li:hover.right::after{
	border-left-color: #ffe443;
}
.sub_nav2 ul li{
	position: relative;
}
.sub_nav2 ul li.left::before{
	content: '';
	width: 0px;
	height: 0px;
	border: 8px solid transparent;
	border-right-color: #999999;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 50%;
	margin-left: -12px;
}
.sub_nav2 ul li.left::after{
	content: '';
	width: 0px;
	height: 0px;
	border: 8px solid transparent;
	border-right-color: white;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 50%;
	margin-left: -10px;
}
.sub_nav2 ul li.right::before{
	content: '';
	width: 0px;
	height: 0px;
	border: 8px solid transparent;
	border-left-color: #999999;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 50%;
	margin-right: -12px;
}
.sub_nav2 ul li.right::after{
	content: '';
	width: 0px;
	height: 0px;
	border: 8px solid transparent;
	border-left-color: white;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 50%;
	margin-right: -10px;
}